# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# PyCharm / IDE
# =========================
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Local / Temporary Files
# =========================
*.log
*.tmp